<html>
    <head>
        <title>
            Positioning
        </title>
    </head>
    <body style="background-color: blueviolet; height: 2000px;">
        <h1>Static Positioning</h1>
        <h1 style="position: relative; left: 50px; top: 100px">
            Relative Positioning
        </h1>
        <h1 style="position: absolute; right: 50px; bottom: 10px;">
            Absolute Positioning
        </h1>

        <h1 style="position: sticky; top: 10px; left: 50px;">
            Sticky Positioning
        </h1>
         <h1 style="position: fixed; top: 100px; margin:auto; left: 50px;">
            Fixed Positioning
        </h1>
    </body>
</html>